/***** 篩選區 *****/
.filter_area ul {
  display: flex;
  justify-content: center;
}

.filter_area ul>li {
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 24px;
  border: 1px solid #ad8b73;
  color: #ad8b73;
  margin-left: 30px;
}

.filter_area ul>li.active {
  background-color: #ad8b73;
  color: #fffbe9;
}

/***** 圖片區 *****/

.pics_area {
  margin: 50px auto;
  /* column-count:3;
  column-gap: 10px;
  counter-reset: count; */
  display: block;
}

.pics_area>li {
  position: relative;
  width: 355px;

}

.pics_area>li>a>img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  opacity: .8;
  border-radius: 5px;
}


/***** 收藏最愛 *****/
.collect {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 5;
  color: #fffbe9;
}

.collect span,
.collect i {
  text-shadow: 2px 2px 4px #ad8b73;
  color: #fffbe9;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
}

i.fa-heart.active {
  color: #d14b47;
  animation: heart 0.5s linear;
}

@keyframes heart {
  from {
    font-size: 1.7rem;
  }

  50% {
    font-size: 1.3rem;
    ;
  }

  to {
    font-size: 1.7rem;
  }
}

/***** 滾動slide *****/
.slide_down {
  width: 30px;
  height: 50px;
  border: 2px solid #ad8b73;
  border-radius: 17px;
  position: relative;
  left: calc(50% - 15px);
  overflow-y: hidden;
  margin-bottom: 50px;
}

.slide_down::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 50%;
  height: 15px;
  background-color: #ad8b73;
  border-radius: 50%;
  animation: slide 3s infinite linear;
}

@keyframes slide {
  0% {
    top: -50%;
  }

  20%,
  25% {
    top: 5px;
    height: 15px;
  }

  40% {
    top: 5px;
    height: 20px;
  }

  45% {
    top: 10px;
  }

  49% {
    height: 25px;
  }

  50%,
  80% {
    top: calc(100% - 5px - 15px);
    height: 15px;
  }

  100% {
    top: 130%;
  }
}

/***** MediaQuery *****/
@media (max-width: 414px) {
  .filter_area ul {
    flex-wrap: wrap;
  }

  .filter_area ul>li {
    border-radius: 30px;
    padding: 10px 30px;
    color: #ad8b73;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .pics_area>li {
    width: 100%;
  }

  .collect {
    top: 30px;
  }
}